# Next.js
.next/
out/
build/

# Node
node_modules/
npm-debug.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Env
.env
.env.local
.env*.local

# Build
dist/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# SWC
.swc/
%APPDATA%/
